.wrapper {
  .banner {
    position: relative;
    height: 400px;
    .banner-img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
    .slider-banner {
      position: absolute;
      bottom: -25%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .option-promo {
    max-width: 1220px;
    margin: 130px auto 30px auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .promo-item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 16px;
      width: 285px;
      height: 100%;
      background: url("https://cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/noel/bg-goi-y-hom-nay.png?v=1");
      background-color: #fff;
    }
    .promo-item > a {
      display: flex;
      align-items: center;
    }
    .promo-item > a > span {
      margin-left: 20px;
      line-height: 28px;
      color: var(--text-color);
      font-size: 2.2rem;
    }
  }
  .all-product {
    max-width: 1220px;
    margin: auto;
    align-items: center;
    > h1 {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .heading {
        padding: 10px 0;
        display: flex;
        align-items: center;
        font-weight: 600;
      }
      .sort {
        height: fit-content;
        > a {
          font-size: 1.4rem;
          color: var(--text-color);
          padding: 10px 6px;
          background: #fff;
          border: 1px solid #ccc;
          border-radius: 6px;
          padding: 6px 6px;
          box-shadow: var(--shadow);
        }
      }
    }

    .product-tag {
      height: 42rem;
      background: #fff;
      border-radius: 6px;
      padding: 10px 10px 20px 10px;
      cursor: pointer;
      .item-sale {
        display: flex;
        justify-content: space-between;
        margin-left: -1.8rem;
        height: 24px;
        > small {
          font-size: 1.6rem;
          color: #00dbb3;
          font-weight: 800;
          padding: 0 4px;
          background: #cefffae9;
        }
        > span {
          position: relative;
          background: linear-gradient(to right, #e91f63, #db2663);
          font-size: 1.2rem;
          color: #fff;
          border-bottom-right-radius: 0.4rem;
          border-top-right-radius: 0.4rem;
          padding: 3px 4px;

          &::before {
            position: absolute;
            left: 0px;
            bottom: -0.9rem;
            content: "";
            border-top: 0.9rem solid #a10036;
            border-left: 0.8rem solid transparent;
          }
        }
      }
      > img {
        width: 100%;
        height: 220px;
        object-fit: contain;
        padding: 10px 0;
        transition: all 0.3s ease-out;
      }

      .sale-status {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .sale-label {
          display: flex;
          align-items: center;
          border-radius: 20px;
          width: 120px;
          height: 20px;
          > img {
            width: 20%;
            height: 100%;
            margin-right: 4px;
          }
          > span {
            color: #fff;
            font-size: 1.2rem;
          }
        }
        .status {
          display: flex;
          height: 20px;
          align-items: center;
          background: var(--primary-color);
          border-radius: 4px;
          padding: 0 12px;
          font-weight: 600;
          font-size: 1.4rem;
          color: #fff;
        }
      }

      .name {
        font-size: 1.8rem;
        font-weight: 600;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }

      .price {
        margin-top: 10px;
        > strong {
          color: var(--primary-color);
          font-size: 2.2rem;
          margin-right: 14px;
          font-style: italic;
        }

        > b {
          color: #ccc;
          text-decoration: line-through;
          font-style: italic;
        }
      }

      .vote {
        position: relative;
        display: flex;
        padding-top: 1rem;
        justify-content: space-between;
        align-items: center;
        > div {
          > b,
          i {
            color: #fb6e2e;
            font-weight: 800;
          }
          > i {
            margin-left: 4px;
          }
          > span {
            margin-left: 14px;
            color: #ccc;
          }
        }
        > button {
          display: none;
          border: none;
          position: absolute;
          background: var(--button-background);
          color: var(--button-color);
          font-weight: 700;
          border-radius: 8px;
          padding: 1rem;
          cursor: pointer;
          right: 0;
        }
      }

      &:hover {
        box-shadow: 0 0 12px 2px #ccc;
      }
      &:hover .vote > button {
        display: block;
      }
      &:hover > img {
        transform: translateY(-8px);
      }
    }
    .pagination {
      padding-top: 50px;
      width: fit-content;
      margin: auto;
    }
  }
}
