.wrapper {
  margin-top: 30px;
  .footer-top {
    background: var(--white-color);
    height: 260px;
    .content {
      min-width: 1220px;
      max-width: 1220px;
      margin: auto;
      height: 100%;

      .f-menu > li {
        padding: 10px 0;
        &:hover {
          color: var(--primary-color);
          cursor: pointer;
        }
      }
      .f-social {
        padding: 10px 0;
        font-size: 1.4rem;
        .social-item {
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .copyright {
    display: block;
    margin: 15px auto;
    max-width: 1220px;
    font-size: 1.4rem;
  }
}
