.wrapper {
  position: relative;
  width: 8rem;
  padding: 1rem;
  padding-top: 0.9rem;
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    hsla(173, 67%, 76%, 1) 0%,
    hsla(115, 94%, 67%, 1) 100%
  );
  .content {
    font-weight: 600;
    font-size: 2rem;
    font-style: italic;
    text-decoration: line-through;
  }

  .btn-reset {
    position: absolute;
    height: 100%;
    right: 0.4rem;
    top: 0;
    cursor: pointer;
    border: none;
    background: none;
  }
}
