.wrapper {
  .container {
    background: #fff;
    box-shadow: 0 0 6px #ccc;
    border: 1px solid #ccc;
    border-radius: 0.8rem;
    padding: 2rem 1.6rem;
    .action {
      border-bottom: 1px solid #ccc;
      padding-bottom: 2rem;
      > button {
        padding: 1rem;
        border-radius: 0.6rem;
        margin-right: 1.6rem;
        font-weight: 600;
        border: none;
        transition: all 0.1s ease-out;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
          box-shadow: 0 0 8px #ccc;
        }
      }
    }
    .table-data {
      padding: 1rem 0;
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        .top-left {
          display: flex;
          align-items: center;
          font-size: 1.4rem;
        }
        .top-right {
          position: relative;
          border: 1px solid #ccc;
          border-radius: 0.6rem;
          padding: 1rem;

          > span {
            font-weight: 600;
          }
          > input {
            background: rgb(244, 244, 244);
            padding: 1rem;
            border: 1px solid #ccc;
            margin-left: 0.6rem;
            border-radius: 0.6rem;
          }
          .spin {
            position: absolute;
            right: 2rem;
            top: 1.6rem;
          }
        }
      }
    }
    .detail-id {
      display: flex;
      align-items: center;
      > span {
        margin-left: 2rem;
        font-weight: 600;
        font-style: italic;
        color: var(--primary-color);
        // font-size: 1.8rem;
      }
    }
    .detail-left {
      // border-bottom: 10px dotted #000;
      // box-shadow: var(--shadow);
      padding: 0 2rem 10rem 2rem;
      border-radius: 8px;
      margin-top: 4rem;
      > p {
        padding: 0.6rem 0;
        &:last-child {
          b {
            font-size: 2rem;
          }
          span {
            color: red;
            font-weight: 600;
            font-size: 1.8rem;
            padding-left: 1rem;
            font-style: italic;
          }
        }
      }
    }
    .back {
      position: absolute;
      top: -2rem;
      left: 1rem;
      // color: var(--button-color);
      font-style: italic;
      text-decoration: underline;
      // background: #ccc;
      padding: 1rem;
      font-weight: 600;
      border-radius: 8px;
    }
  }
}

.form {
  margin-bottom: 3rem;
  .form-group {
    > label {
      display: block;
      padding-bottom: 1rem;
      font-weight: 600;
      font-size: 1.8rem;
      > b {
        color: red;
      }
    }
    > input,
    > select,
    > textarea {
      box-sizing: border-box;
      border: 1px solid #ccc;
      background: rgb(239, 239, 239);
      padding: 1.4rem 1rem;
      border-radius: 0.8rem;
      width: 100%;
      &:focus {
        border: 1px solid #000;
        background: #fff;
      }
    }
  }
}
.actions {
  > button {
    padding: 1rem 1.6rem;
    border: none;
    border-radius: 1rem;
    font-weight: 600;
    font-size: 1.6rem;
    cursor: pointer;
    margin-right: 1rem;

    &:first-child {
      background: var(--success-color);
      color: green;
    }
    &:nth-child(2) {
      background-color: var(--error-color);
      color: red;
    }
  }
}
.action-table {
  > span {
    transition: all 0.1s ease-in;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 8px;
    margin: 0 1rem;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      box-shadow: var(--shadow);
    }
    &:first-child {
      background: rgb(201, 255, 201);
    }
    &:nth-child(2) {
      background: var(--warning-color);
      color: rgb(118, 118, 1);
    }
    &:last-child {
      background: var(--error-color);
      color: red;
    }
  }
}
