.wrapper {
  .top-banner {
    height: 30px;
  }
  .header {
    width: 100%;
    background: var(--primary-color);
    height: 120px;
    position: fixed;
    transition: all 0.2s;
    .header-top,
    .header-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1200px;
      margin: auto;
      height: 60px;

      .logo {
        display: block;
        height: 100%;
        width: 182px;
        background-image: url("../../../../Image/l-transformed.png");
        background-repeat: no-repeat;
        background-size: 100%;
        padding-right: 15px;
        background-position-y: -6px;
      }
      .search {
        position: relative;
        width: 280px;
        display: flex;
        align-items: center;
        .search-input {
          width: 100%;
          background-color: #fff;
          border: none;
          border-radius: 4px;
          font-size: 1.4rem;
          line-height: 14px;
          height: 40px;
          padding: 0 10px;
          &:focus {
            outline: none;
          }
        }
        .icon-search,
        .icon-loading {
          position: absolute;
          cursor: pointer;
          right: 10px;
        }
      }
      .lookup,
      .cart {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        border-radius: 4px;
        padding: 0 10px;
        cursor: pointer;
        text-align: center;
        width: 100px;
        height: 40px;
        font-weight: 400;
        background: rgb(53, 177, 53);
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);

        .icon-cart {
          position: relative;
          font-size: 3.6rem;
          margin-right: 4px;
          &::after {
            position: absolute;
            content: attr(count);
            font-size: 1.2rem;
            top: 6px;
            right: 6px;
            padding: 8px 6px;
            border-radius: 50%;
            font-weight: 600;
            color: #fff;
            background-color: rgb(237, 62, 62);
          }
        }
      }
      .action > a {
        color: var(--text-color);
        font-size: 1.8rem;
        font-weight: 600;
      }
      .border-col {
        width: 1px;
        height: 40px;
        background: #fff;
        margin: 0 12px;
      }

      //header-main

      .category {
        width: 1220px;
      }
      .col {
        .cate-item {
          padding: 10px 0;
          font-size: 1.6rem;
          cursor: pointer;

          &:hover {
            color: var(--primary-color);
            font-weight: 600;
          }
        }
      }
    }

    .header-main > .popper > a {
      display: block;
      color: var(--text-color);
      font-weight: 600;
      font-size: 1.6rem;
      padding-top: 6px;

      &:hover {
        color: rgb(112, 112, 112);
      }
    }
  }
}
