.wrapper {
  margin-bottom: 12rem;
  .top-banner {
    height: 30px;
  }
  .header {
    width: 100%;
    background: var(--primary-color);
    height: 120px;
    z-index: 99;
    position: fixed;
    transition: all 0.2s;
    .header-top,
    .header-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1200px;
      margin: auto;
      height: 60px;

      .logo {
        height: 100%;
        width: 20rem;
        padding-right: 15px;
        > img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }
      .search-result {
        width: 40rem;
        .search-title {
          padding: 1rem 1rem;
          font-weight: 700;
          margin: 0;
        }
        .search-result-item {
          padding: 0.6rem 1rem;
          display: flex;
          height: 5rem;
          > img {
            display: block;
            max-width: 6rem;
            border-radius: 50%;
            margin-right: 1rem;
          }
          .content {
            .name {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              overflow: hidden;
              margin-bottom: 0.8rem;
            }
            .price {
              color: var(--primary-color);
              font-style: italic;
              > b {
                padding-left: 1rem;
                text-decoration: line-through;
                color: #ccc;
                font-size: 1.4rem;
              }
            }
          }
          &:hover {
            cursor: pointer;
            background: rgb(237, 237, 237);
          }
        }
      }
      .search {
        position: relative;
        width: 280px;
        display: flex;
        align-items: center;
        .search-input {
          width: 100%;
          background-color: #fff;
          border: none;
          border-radius: 4px;
          font-size: 1.4rem;
          line-height: 14px;
          height: 40px;
          padding: 0 10px;
          &:focus {
            outline: none;
          }
        }
        .icon-search,
        .icon-loading {
          position: absolute;
          cursor: pointer;
          right: 10px;
        }
      }
      .cart-list {
        width: 40rem;
        max-height: 50rem;
        > div {
          width: 100%;
          > h3 {
            margin: 0;
            padding: 1rem;
            color: #ccc;
            font-style: italic;
          }
          .cart-item {
            position: relative;
            padding: 1rem;
            padding-bottom: 2rem;
            height: 5rem;
            width: 100%;
            display: flex;
            border-bottom: 1px solid rgb(222, 222, 222);
            > img {
              width: 8rem;
              height: 5rem;
              margin-right: 1rem;
              border-radius: 4px;
            }
            .content {
              flex: 1;
              margin-right: 4rem;
              .name {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                margin-bottom: 1rem;
              }
              .price {
                color: var(--primary-color);
                font-weight: 700;
                font-style: italic;
              }
              .update-quantity {
                margin-left: 1rem;
                > span {
                  padding: 0 0.6rem;
                  &:hover {
                    color: var(--primary-color);
                  }
                }
              }
            }
            > span {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 4rem;
              &:hover {
                color: red;
                cursor: pointer;
              }
            }
            &:hover {
              cursor: pointer;
              background: rgb(240, 240, 240);
            }
          }
          .checkout {
            padding: 1rem;
            .es-total {
              padding-bottom: 1rem;
              > b {
                font-size: 2rem;
                color: var(--primary-color);
                font-style: italic;
              }
            }
            > button {
              width: 100%;
              border: none;
              font-size: 2rem;
              font-weight: 700;
              padding: 1rem 0;
              color: var(--button-color);
              border-radius: 4px;
              background: var(--button-background);
              cursor: pointer;
            }
          }
        }
      }
      .lookup,
      .cart {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        border-radius: 4px;
        padding: 0 10px;
        cursor: pointer;
        text-align: center;
        width: 100px;
        height: 40px;
        font-weight: 400;
        background: rgb(53, 177, 53);
        box-shadow: var(--shadow);

        .icon-cart {
          position: relative;
          font-size: 3.6rem;
          margin-right: 4px;
          &::after {
            position: absolute;
            content: attr(count);
            font-size: 1.2rem;
            top: 6px;
            right: 6px;
            padding: 8px 6px;
            border-radius: 50%;
            font-weight: 600;
            color: #fff;
            background-color: rgb(237, 62, 62);
          }
        }
      }

      .action {
        .login {
          color: var(--text-color);
          font-weight: 600;
          cursor: pointer;
          box-shadow: var(--shadow);
          padding: 1rem;
          border-radius: 0.8rem;
          transition: 0.3s;
          > span {
            font-size: 2rem;
          }
          > strong {
            margin-left: 0.4rem;
            color: var(--text-color);
          }
          &:hover {
            background: rgb(53, 177, 53);
          }
        }
        .border-col {
          width: 2px;
          height: 3.6rem;
          background: #fff;
          margin: 0 12px;
        }
        .user {
          box-shadow: 0 0 1.4rem #000;
          border-radius: 50%;
          width: 44px;
          height: 44px;
          cursor: pointer;
        }
        .user-menu {
          width: 200px;
          animation: fade-out 0.2s linear;
          .menu-item {
            display: block;
            cursor: pointer;
            padding: 0.6rem 1.6rem;
            font-weight: 600;
            color: var(--text-color);

            > span {
              margin-right: 0.4rem;
            }
            &:hover {
              background: rgb(238, 238, 238);
            }
            &:first-child {
              margin-top: 1rem;
            }
            &:last-child {
              margin-top: 4rem;
              border-top: 1px solid #ccc;
              color: red;
              font-style: italic;
              margin-bottom: 1rem;
            }
          }
        }
      }

      //header-main

      .category {
        width: 1220px;
        animation: fade-in 0.3s linear;
      }
      .col {
        .cate-item {
          padding: 10px 0;
          font-size: 1.6rem;
          cursor: pointer;

          &:hover {
            color: var(--primary-color);
            font-weight: 600;
          }
        }
      }
    }

    .header-main > .popper > a {
      display: block;
      color: var(--text-color);
      font-weight: 600;
      font-size: 1.6rem;
      padding-top: 6px;

      &:hover {
        color: rgb(112, 112, 112);
      }
    }
  }
}

@keyframes fade-in {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
