.wrapper {
  z-index: 1;
  max-width: 1220px;
  height: 200px;
  .slick-item {
    height: 200px;
    border-radius: 16px;
  }
  .prevArrow {
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    padding: 10px;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0.8;
    &:hover {
      opacity: 1.2;
    }
  }
  .nextArrow {
    background: #fff;
    border-radius: 50%;
    position: absolute;
    right: -24px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    padding: 10px;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      opacity: 1.2;
    }
  }
}
